@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
    margin: 0;
    font-family: 'open sans';
    background-color: #E4FDE1;
}
/* mobile first */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
@media (min-width: 768px) {
    .flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
}
.flex-container >div{
    padding:3%;
    margin:auto;
}

img.pro-pic {
    width:45%;
    padding:2%
}

h1.full-name
{
    font-family: 'Merienda', cursive;
    font-size: 8vw;;
}
.navbar ul{
    height:auto;
    width:100%;
    background-color: black;
    margin:0;
    padding: 0;
}
.navbar li{
    background-color: black;
}
.navbar li:hover{
    color: tomato;
}
.navbar a{
    list-style-type: none;
    text-decoration: none;
    padding:1%;
    display:inline-block;
    overflow:hidden;
    background-color: black;
    color:white;
    font-size: large;
}


.container,.title {
    color:blue;
    text-align:center;
}

.skills-section {
    text-align: center;
}
.skills-img {
    width:30%;
}
h1 {
    font-family: 'Merienda';
}
h2 {
    color: tomato;
    font-family: 'bebas neue';
}
h2 {
    padding: 1%;
    text-align: center;
    font-size: xx-large;
}
h3 {
    font-size: x-large;
    padding:2%;
}
p {
    padding:2%;
}
.foot-note{
    color: white;
    background-color: black;
}